ClientAkademik/ClientAkademik/Service References/AkademikReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryModelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alamat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nilai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdataResponse">
        <s:complexType />
      </s:element>
      <s:element name="Display">
        <s:complexType />
      </s:element>
      <s:element name="DisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAkademik">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAkademikResponse">
        <s:complexType />
      </s:element>
      <s:element name="UbahAkademik">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alamat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nilai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbahAkademikResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="QueryModelSoapIn">
    <wsdl:part name="parameters" element="tns:QueryModel" />
  </wsdl:message>
  <wsdl:message name="QueryModelSoapOut">
    <wsdl:part name="parameters" element="tns:QueryModelResponse" />
  </wsdl:message>
  <wsdl:message name="insertdataSoapIn">
    <wsdl:part name="parameters" element="tns:insertdata" />
  </wsdl:message>
  <wsdl:message name="insertdataSoapOut">
    <wsdl:part name="parameters" element="tns:insertdataResponse" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapIn">
    <wsdl:part name="parameters" element="tns:Display" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapOut">
    <wsdl:part name="parameters" element="tns:DisplayResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAkademikSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAkademik" />
  </wsdl:message>
  <wsdl:message name="DeleteAkademikSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAkademikResponse" />
  </wsdl:message>
  <wsdl:message name="UbahAkademikSoapIn">
    <wsdl:part name="parameters" element="tns:UbahAkademik" />
  </wsdl:message>
  <wsdl:message name="UbahAkademikSoapOut">
    <wsdl:part name="parameters" element="tns:UbahAkademikResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryModel">
      <wsdl:input message="tns:QueryModelSoapIn" />
      <wsdl:output message="tns:QueryModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertdata">
      <wsdl:input message="tns:insertdataSoapIn" />
      <wsdl:output message="tns:insertdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Display">
      <wsdl:input message="tns:DisplaySoapIn" />
      <wsdl:output message="tns:DisplaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAkademik">
      <wsdl:input message="tns:DeleteAkademikSoapIn" />
      <wsdl:output message="tns:DeleteAkademikSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UbahAkademik">
      <wsdl:input message="tns:UbahAkademikSoapIn" />
      <wsdl:output message="tns:UbahAkademikSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryModel">
      <soap:operation soapAction="http://tempuri.org/QueryModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdata">
      <soap:operation soapAction="http://tempuri.org/insertdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap:operation soapAction="http://tempuri.org/Display" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAkademik">
      <soap:operation soapAction="http://tempuri.org/DeleteAkademik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbahAkademik">
      <soap:operation soapAction="http://tempuri.org/UbahAkademik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryModel">
      <soap12:operation soapAction="http://tempuri.org/QueryModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdata">
      <soap12:operation soapAction="http://tempuri.org/insertdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap12:operation soapAction="http://tempuri.org/Display" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAkademik">
      <soap12:operation soapAction="http://tempuri.org/DeleteAkademik" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbahAkademik">
      <soap12:operation soapAction="http://tempuri.org/UbahAkademik" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:49899/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:49899/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>